# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/*.suo
/ProtectedDownload/App_Data/*.LDF
/MailSettings.config
MailSettings.config
/ProtectedDownload/DBSettings.config
