<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MainDB"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Data.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
   <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add verb="*" path="download" type="ProtectedDownload.Download"/>
      <add verb="*" path="*.zip" type="ProtectedDownload.FileDenialHandler"/>
    </httpHandlers>

  </system.web>
  <system.net>
    <mailSettings>
      <smtp configSource="MailSettings.config" />
    </mailSettings>
  </system.net>
</configuration>
